# Project exclude paths
/.gradle/
/Tasklist/task/build/
/Tasklist/task/out/
/Tasklist/task/out/production/classes/
/Topics/For loop and arrays/Check the numbers/out/
/Topics/For loop and arrays/Check the numbers/out/production/classes/
/Topics/For loop and arrays/Right Rotation/out/
/Topics/For loop and arrays/Right Rotation/out/production/classes/
/Topics/Property accessors/Weather comparison/out/
/Topics/Property accessors/Weather comparison/out/production/classes/